:root {
  --accent-color: #2196f3;
  --button-studio-hover-color: #188ce8;
  --header-logo-darc-color: #000000;
  --text-color-light: #757575;
  --text-color-theme-darc: #ffffff;
  --button-portfolio-color: #f5f4fa;
  --color-transparentfff: rgba(255, 255, 255, 0.6);
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --theme-dark-background-color: #2f303a;
  --theme-light-background-color: #f5f4fa;

  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;

  /* grid layoyt */
  --item: 1;
  --indent: 30px;
}
body {
  font-family: var(--primary-font-family);
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

li {
  list-style-type: none;
}

button {
  display: block;
}
address {
  font-style: normal;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/*
.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}*/
.section {
}
.container {
  width: 1600px;
  padding-left: 215px;
  padding-right: 215px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-web {
  color: var(--accent-color);
}
.logo-studio {
  color: var(--header-logo-darc-color);
}

}

.img-name-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.title-img {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.img-position-team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-light);
}

/* =========  END  COMPONENTS =========*/

/* ========= START HEADER ========= */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
 
}
/*
.header-logo {
}*/

.header-container {
  display: flex;
  align-items: center;
 
}

.header-navigation {
  margin-left: 93px;
}

.nav-list {
  display: flex;
}

.nav-list-item {
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.header-contacts {
  margin-left: auto;
}
.contact-mailto,
.contact-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-light);
}
.contact-mailto:hover,
.contact-mailto:focus {
  color: var(--accent-color);
}

.contact-mailto:not(:last-child),
.contact-number:not(:last-child) {
  margin-right: 50px;
}
.active-page {
  color: var(--accent-color);
}
/* ========= END HEADER ========= */

/* ========= START HERO ========= */

.hero {
  background-color: #2F303A;
  padding: 200px 0;
  display: flex;
  align-items: center;
}

.hero-container {
  background-color: var(--theme-dark-background-color);
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-theme-darc);
  margin-bottom: 30px;
}

.mobal-btn {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--button-studio-hover-color);
  color: var(--text-color-theme-darc);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  margin: 0 auto;
  padding: 10px 32px;
}

.mobal-btn:hover,
.mobal-btn:focus {
  color: var(--text-color-theme-darc);
  background-color: var(--accent-color);
}
/* ========= END HERO ========= */
/* ========= START ABOUT ========= */
.about {
  display: flex;
  align-items: center;

}

.abaut-container {
  padding-left: 215px;
  padding-right: 215px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  /*margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;*/
}
.grid-item {
  flex-basis: calc(100% / var(--item) - var(--indent));
  /*margin-top: 15px;
  margin-bottom: 15px;*/
  margin-left: 15px;
  margin-right: 15px;
  
}

.specifics-list {
  --item: 4;
}
.specifics-theme {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/*.specifics-item */
.specifics-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-light);

}
.what-we-do {
 
}

.title-what-we-do {
  padding-bottom: 50px;
}
.what-we-do-list {
  --item: 3;
}

.what-we-do-container {
  background-color: aquamarine;
}
.list-img-work {
}
.img-work {
  max-width: 100%;
}

/* ========= END ABOUT ========= */

/* ========= START TEAM ========= */
.section-our-team {
 
}
.our-team-container {
 /* background-color: #f5f4fa;*/
 background-color: tomato;
  margin-top: 94px;
}
.title-team {
  padding-bottom: 50px;
}
.list-img-team {
  --item: 4;

  justify-content: space-between;
}
.bloc-img-team {
  background-color: #ffffff;
  

}
.img-name-team {
  padding-top: 30px;
  padding-bottom: 10px;
 
}

/* ========= END TEAM ========= */

/* ========= START FOOTER ========= */
.footer {
  background: var(--theme-dark-background-color);
}
.footer-container {
  align-items: center;
  padding-top: 60px;
}

.footer-logo-studio {
  color: var(--text-color-theme-darc);
 
  
}

.footer-address {
  font-family: var(--primary-font-family);
  font-style: normal;
  padding-bottom: 60px;
  padding-top: 20px;
 
}

.address-houce {
  color: var(--button-portfolio-color);
}

.address-mailto,
.addres-phone {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--color-transparentfff);
}
/* ========= END FOOTER ========= */
/* ==========START  PORTFOLIO ========== */
.portfolio {
}
.portfolio-container {
  display: flex;
  height: auto;
  flex-wrap: wrap;
}
.filters-portfolio {
}
.filters-portfolio-buttons-list {
  display: flex;
  align-items: center;
}
.portfolio-filter-btn {
  background: var(--button-portfolio-color);
  border-radius: 4px;
  cursor: pointer;
}
.project {
  align-content: flex-start;
  display: flex;
  height: auto;
  flex-wrap: wrap;
}

.portfolio-filter-btn:hover,
.portfolio-filter-btn:focus {
  color: var(--text-color-theme-darc);
  background-color: var(--accent-color);
}
.img-name-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-list-bloc {
  display: flex;
}
.project-bloc {
  display: block;
}
.img-description-project {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color-light);
}

/*==========END  PORTFOLIO ========== */
